*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;

}

                             /* _____________________
                              # SECTION 01 STYLE #
                              _____________________ */

/* NAVIGATION __________________*/
   .section-one{
    background-color: #FFF4E7;

   }

   .head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
   .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
 }
   .company-name{
    padding-right: 520px;
    font-weight: 600;
    font-size: 30px;
     }


   .navigation ul li a{
    text-decoration: none;
    list-style: none;

   }
   .navigation ul li{
    list-style: none;
    padding: 0 20px;
   
   }
   .navigation ul{
    display: flex;
   }


/* HEADER AND BANNER */

   .Head-title{

font-size: 40px;
font-weight: 500;

padding: 100px 100px 0 100px;
text-align: center;
    }

span{
    color: rgb(116, 116, 240);
}
.Head-Description{
    color: #727272;
    font-weight: 400;
    font-size: 15px;
    padding: 35px 300px;
    text-align: center;
    }

.Btn-Explore{
    width: 140px;
height: 45px;
    border: 0 ;
    background: #FF900E;
border-radius: 8px;
color: white;
font-weight: 400;
font-size: 15px;
transition: 0.5s;

}
.Btn-Explore:hover{
    background-color: #727272;
    color: white;

}
.Btn-Explore-two:hover{
    background-color: #727272;
    color: white;
}

/* banner */

.Banner img{
    height: 627px;
  width: 1084px;
  padding: 50px 0;
}

                       /* _____________________
                              # SECTION TWO STYLE #
                              _____________________ */

.section-two{
    display: flex;
    justify-content: center;
    align-items: center;


}
.Article-photos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 15px;
    column-gap: 15px;
    
    transform: scale(0.6);

}
.Article-one{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: -50px;
    

}
.article-1-Title{

    color: #727272;
    
    font-weight: 5;
    font-size: 25px;
    padding-bottom: 30px;
}

.text-style{
    color: #131313;
    font-size: 35px;


}
.text-style-2{
    color: #FF900E;
    

}
.article_ONE-Description{
    color: #727272;
    padding-bottom: 30px;
    font-size: 15px;
    font-style: normal;
    
}
.Btn-Explore-two{
    width: 140px;
    height: 45px;
        border: 0 ;
        background: #FF900E;
    border-radius: 8px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    transition: 0.5s;
    
}

                            /* _____________________
                              # SECTION THREE STYLE #
                              _____________________ */
                           
.section-three{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Article-two{
    display: flex;
    flex-direction: column;
    
    
}
.article-two-title{
    margin-left: 160px;
    font-size: 40px;
    padding: 0 9px;
    border-left: 10px solid orange;
    
}
/* <!-- THERE ARE FOUR DIV(BOX) AS CHILD OF PARENT ARTICLE --> */
.childs_of_article-two{

}
.box_for_childs{
    height: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
    margin: 15px -15px 20px 140px;
    padding: 2px 35px;
    width: 420px;
    
}


.box_for_childs , .section-three-description{
    text-overflow: ellipsis;
    overflow: scroll;
}
.child-title{
    padding: 20px 0;
    color: black;
    font-size: 19px;

}


.section-three-description{
    color: #727272;
    padding-bottom: 10px;
}

.article_two-Description{
    color: #727272;
    padding: 5px 120px 45px 120px;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 15px;
    font-style: normal;
    
}

/* "10 year experience" extra floating box moved to middle with hover effect as part of my practice */
.floating-box{

    width: 318px;
height: 160px;
background-color: #FF900E;
position: absolute;
top: 572px;
left: -60px;
color: white;
font-size: 40px;
text-align: center;
padding-top: 50px;
padding-bottom: -50px;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
transition: 0.5s;

}
.floating-box:hover{
    background-color: #727272;
    color: white;


}
.style-text-four{
    font-size: 20px;
    color: white;
    font-weight: 100;
}
.article-two-photo{
    width: 800px;
height: 1059px;
position: relative;
transform: scale(0.7);
margin-right: 21px;
}


                            /* _____________________
                              # SECTION 04 STYLE #
                              _____________________ */



.about_title{margin-left: 150px;
    margin-top: 50px;
}
.article-Description_5th{margin-left: 150px;
    margin-top: 30px;
    color: #727272;
}
.achievement{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-column-gap: 70px;
    margin-left: 250px;
    margin-top: 50px;
}

.achievement-items{
    border: 1px solid orange;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
   
}

.icon-size{
    width: 45.22px;
height: 45.22px;
align-items: center;
}

.achievement-count{
    color: #424242;
    transition: 0.5s;
   
}
.achievement-name{
    color: #424242;
    transition: 0.5s;
    
}

/* animation for sectione 4 */

.achievement-items:hover {
    transform: scale(1.2);
    background-color: rgb(241, 102, 15);
    
    
}
.achievement-items:hover .achievement-count{
    color: white;
}

.achievement-items:hover .achievement-name {
    color: white;

}



                        /* _____________________
                              # SECTION 04 STYLE #
                              _____________________ */

.section-five{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    text-align: center;
}
.sponsor{

}
.sponsors-description{
    color: #424242;

}
.brand_names{
    display: flex;

    margin: 30px 40px;
}

.brands{
    padding: 20px 12px;
    transform: scale(0.6);
}
.first-three-brands{
    display: flex;
}
.remaining-two-brands{
    display: flex;
    
}

                          /* FOOTER STYLE */

.footer{
    width: 800px;
height: 100px;
background: #FFF4E7;
border: 0;
border-radius: 8px;
text-align: center;
margin-bottom: 100px;

}
.footer-text{
   margin-top: 40px;
}




              /* ====================================================== */
                     /* PROCESS OF MAKING IT __RESPONSIVE___ */
           /* ====================================================== */
@media only screen and (max-width:576px) {
  
    
    /* _______________SECTION ONE-RESPONSIVE_PROCEDURE______________ */
    
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
    
   
}
.company-name{
    padding: 20px 90px;
    font-weight: 600;
font-size: 30px;
    
}
.Head-title{

    font-size: 40px;
    font-weight: 500;
    
    padding: 50px 40px 30px 40px;
    text-align: center;}

    .Head-Description{
        color: #727272;
        font-weight: 400;
        font-size: 15px;
        padding: 5px 35px 15px 35px;
        text-align: center;
        }
        
.Banner img{
    height: 332px;
    width: 448px;
  padding: 50px 0;
}
/* THIS IS THE END OF MAKIGN SECTION ONE RESPONSIVE */






           /* _______________SECTION 02-RESPONSIVE_PROCEDURE______________ */

.section-two{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 30px;


}
.Article-photos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 15px;
    column-gap: 15px;
    padding: 0 80px 0 0;
    
    
    transform: scale(0.9);
    
}
.Article-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    

}
.article-1-Title{
    color: #727272;
    
    font-weight: 5;
    font-size: 25px;
    padding: 28px 0 20px 10px;
    text-align: center;
}



.article_ONE-Description{
    color: #727272;
    padding: 5px 10px 20px 30px;
    text-align: center;
    transform: 0.5;
    }

.Article-photos img{
    box-shadow: 10px 5px 5px rgb(42, 38, 38,0.5);
}
/* END OF THE PROCCESS OF MAKIGN SECTION TWO RESPONISVE */




/* _________________SECTION-03 RESPONSIVE__________________ */
                           
.section-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    



}
.article-two-title{
    margin-left: 55px;
    font-size: 40px;
    padding: 0 9px;
    border-left: 10px solid orange;
    
}
.article_two-Description{
    color: #727272;
    padding: 5px 120px 35px 120px;
    margin-left: -65px;
    margin-top: 55px;
    font-size: 15px;
    font-style: normal;
    

}
.box_for_childs{
    display: flex;
    flex-direction: column;
    

    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
    margin: 15px -15px 20px 70px;
    padding: 2px 35px;
    width: 420px;
    text-align: center;

}

.article-two-photo{
    width: 800px;
height: 310px;
position: relative;
transform: scale(0.7);
margin-right: -64px;

transform: scale(0.5);


}
/* section three endS here */



/* _______________SECTION FOUR MAKING RESPONSIVE _____________________ */

  .achievement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-ROW-gap:40PX ;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.about_title{margin-left: 99px;
    margin-top: 350px;
}

.article-Description_5th{margin-left: 20px;
    text-align: center;
    margin-top: 30px;
    color: #727272;
}

.brand_names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 30px 40px;
}
.footer{
    width: 500px;
height: 100px;
background: #FFF4E7;
border: 0;
border-radius: 8px;
text-align: center;
margin-bottom: 100px;
}
.footer{
    transform: scale(0.8);
}

.brands{
    padding: 1px 1px;
    transform: scale(0.5);
    
}
.brand_names{
 transform: scale(0.5);
}
}
        /* THE END OF MAKIGN RESPONSIVE  */